@font-face{
    font-family: pixelFont;
    src: url("/styles/fonts/FutilePro.woff");
}

body{
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-stroke: 1px black;
    font-family: pixelFont;
    color: yellow;
    margin: 0;
    overflow: hidden;
}

#menu{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    position: absolute;
}

body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#gameboard{
    position: absolute;
}

#general{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 0;
}

canvas{
    border: 2px solid black;
    cursor: none;
}

.hidden{
    display: none;
}

